
.view-pc{
  display: block;
}

.view-movile{
  display: none;
}

.box-zoom {
    padding: 25px;
    border: 1px solid #c3c3c3;
    border-radius: 15px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .box-zoom:hover {
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
  }

  
  
  .box-flotante {
    padding: 25px;
    border: 0px solid #c3c3c3;
    border-radius: 15px;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
  }

  .boton-fuego {
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, #ff4500, #ffcc00);
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
  }

  .boton-fuego:hover {
    transform: translateY(-5px);
    background: linear-gradient(45deg, #ffcc00, #ff4500);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
@media (max-width: 767px) {
  /* Boxed */
  .view-pc{
    display: none;
  }
  
  .view-movile{
    display: block;
  }
}